.app__founder-content {
	display: flex;
	flex-direction: column;
	width: 90%;
  margin-left: auto;
  margin-right: auto;
	margin-top: 5rem;
  margin-bottom: 3rem;
	/* border: 1px solid white; */
	position: relative;

}

.app__founder-content img {
	width: 47px;
	height: 40px;
	/* margin: 0 1rem 1rem 0; */
}
.first-quote {
	position: absolute;
	top: -60px;
	left: -50px;
}
@media screen and (max-width: 520px) {
	.first-quote {
		left: -10px;
	}
}



@media screen and (max-width: 720px) {
	/* .app__founder-content {
    width: 95%;
    margin: auto
	} */
	.first-quote {
		left: -30px;
	}
}
.second-quote {
	transform: rotate(180deg);
	position: absolute;
	bottom: -30px;
	right: -30px;
}

.app__founder-credentials {
	width: 100%;
	margin-top: 1rem;
}

.app__founder-name {
  margin-bottom: 1rem;
}

.app__founder-sign p:first-child {
	font-family: var(--font-base);
	font-weight: 400;
	font-size: 32px;
	line-height: 41.6px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	color: var(--color-golden);
}



@media screen and (min-width: 1150px) {
	.pen-img {
		margin-right: 2rem;
	}
}